#screen{
    color: white;
    background-color: rgb(81, 78, 245) ;

}
#notes{
    border: rgb(46, 126, 52) solid 2px;
}
.form-style>form{
    min-width: 320px;
    /* min-height: 100vh; */
    height: 100vh;
    position: relative;
    /* background-color: red; */
    background-color: rgb(239, 255, 239);

}
.decision-container{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    column-gap: 60%;
    padding: 0.5rem 0;
}
.decision-container input{
    font-size: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.add-top-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: aqua; */
}
.add-top-container input{
    cursor: pointer;
    width: 48%;
    /* height: inherit; */
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    background-color: transparent;
    border:none;
    /* width: 48vw; */
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    background-color: transparent;
    border:none;
}
.add-top-container span{
    font-size: 25px;
}
.form-top-container{
    width: 100%;
    display: flex;
    height: 10%;
    justify-content: space-around;
    text-align: center;
}
.form-top-container div{
    width: 45%;
}
.form-top-container select{
    cursor: pointer;
    width: 100%;
    margin: 0.3rem 0 ;
    padding: 0.5rem;    background-color: transparent;
    /* border: rgb(207, 0, 180) solid 1px; */
    border: rgb(46, 126, 52) solid 2px;
    background-color: white;
    /* border: rgb(207, 0, 180) solid 1px; */
    font-size: 13px;
    font-weight: 700;
}
.form-mid-container{
    padding: 0.7rem 0.5rem;
    font-size: 12px;
    height: 20%;
}
.form-mid-container label{
    /* margin: 1.5rem 0rem; */
    height: 20%;
    width: 100%;
}
.form-mid-container textarea{
    width: 100%;
    height: 80%;
}
.form-bottom-container{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: 50%;
    /* width: 100%; */
}
.calculator-screen{
    width: 100%;
    height: 20%;
    border: rgb(46, 126, 52) solid 2px;
    text-align: end;
    column-gap: 5px;
    display: flex;
    background-color: white;
}
.calculator-screen .screen-btn{
    width: 30%;
    display: flex;
}
.calculator-screen input{
    width: 50%;
    padding: 0.1rem;
    margin: 0.2rem;
    /* font-size: 45px; */
    text-align: center;
    background-color: transparent;
    border: black solid 1.5px;
    border-radius: 5px;
}
.calculator-screen>input{
    width: 70%;
    /* font-size: 45px; */
    font-size: 5vw; /* responsive font */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
    border: none;
}
.calculator-button{
    width: 100%;
    height:80%;
    display: flex;
    /* flex-direction: column; */
}
.calculator-button input{
    cursor: pointer;
    background-color: transparent;
    border: black solid 1px;
    border-radius: 15px;
}
.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding: 0.5rem 0rem;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.row input[type="button"] {
  width: 60px;
  height: 60px;
  font-size: 24px;
  cursor: pointer;
}

/* .button-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.button-container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-con{
    width: 20%;
    display: flex;
    justify-content: left;
}
.btn-con .btn-row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
/* #typeOfTransition:hover{
    color: rgb(61, 47, 255);
} */
.typeOfTransition-select{
    color: rgb(81, 78, 245);

    text-decoration: underline;
}
@media(max-width:600px){
    .form-style{
        min-width: 321px;
        max-width: 600px;
        max-height: 100vh;
        position: relative;
    }
}
@media(min-width:601px){
    .form-style{
        min-width: 600px;
        max-width: 1440px;
        max-height: 100vh;
        position: relative;
    }
}