.info-container{
    display: flex;
    justify-content: space-around;
    padding: 1.5vw;
    margin: 1vw;
    border: black solid 1px;
    border-radius: 10px;
}
.saved-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-div{
    padding: 1vw;
    text-align: center;
}
.info-div p{
    font-size: 10px;
}
.date-container{
    display: flex;
    justify-content: space-around;
    padding: 1.5vw;
    /* margin: 1vw; */
}
.date-container button{
    width: 33%;
    padding: 0.5rem 0rem;
    border: black solid 1px;
    border-radius: 10px;
    background-color: transparent;
}
.date-container .active-btn{
    background-color: rgb(206, 203, 255);
}
.add-btn button{
    padding: clamp(1rem,4vw, 1.5rem);
    border: black solid 1.5px;
    /* background-color: rgb(255, 227, 190); */
    background-color: rgb(206, 203, 255);

    border-radius: 50%;
    position: fixed;
    right: 10%;
    bottom: 15%;
}
.show-data{
    background-color: rgb(190, 255, 193);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 5px;
    padding: 2px;
    width: 95%;
    position: relative;
}
.show-data .sh-0,.sh-2
{
    width: 50%;
    text-align: center;
}
.show-data .sh-1{
    width: 5%;
    text-align: end;
}
.sh-3 button{
    /* background-color: rgb(209, 204, 255); */
    background-color: rgb(206, 203, 255);
    border: white 2px solid;
    padding: 0rem 0.5rem;
    position: absolute;
    left: 90%;
}
.custom-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  .custom-table th,
.custom-table td {
  border: 1px solid rgb(63, 63, 30);
  padding: 8px;
  text-align: left;
}

.custom-table th {
    background-color: #e3fac4;
    color: #333;
  }
.custom-table tr:hover{
    background-color: #e0f7fa;
    cursor: pointer;
  }