.pop-up{
    width:100%;
    height: 10%;
    position: absolute;
    top: 1%;
    background-color: rgb(140, 140, 255);
    border-radius: 10px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up p{
text-align: center;
color: white;
}

.showData{
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 0;
}
.tableBtnGroup{
    display: flex;
    justify-content: space-around;
}
.tableBtnGroup button{
    background-color: transparent;
    padding: 0.5rem;
    border-radius: 25px;
    width: 45%;
    cursor:grab;
}
.NotFound{
    /* background-color: pink; */
    background-color: rgb(171, 255, 183);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.About{
    /* background-color: pink; */
    background-color: rgb(171, 255, 183);
    width: 100vw;
    min-height: 100vh;
    max-height: auto;
    display: flex;
}
.About-info{
background-color: rgb(239, 255, 239);
    border: 2px black solid;
    padding: 1.5rem;
    margin: 1rem;
    position: relative;
}
.About-info section {
    padding-bottom: 0.8rem;
}
.About-info section p{
    padding-bottom: 0.5rem;
}
.About-info h3{
    padding: 0.5rem 0;
}
.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    
}
.outer-con{
    border:2px solid black;
    width: 80%;
    height: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outer-con div {
    padding: 2rem;
}