.SignUp-con,.otp-con{
    width: 100vw;
    height: 100vh;
    background-color: rgb(211, 255, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}
.SignUp-form{
    width: 60%;
    height: 50%;
    background-color:rgb(253, 253, 253) ;
    /* background:linear-gradient(130deg,rgb(255, 241, 255),rgb(255, 152, 255)); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: rgb(0, 82, 14) solid 1px;
    border-radius: 25px;
    padding: 1rem;
}
.SignUp-form div{
width: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* background-color: brown; */
height: 30%;
}
.SignUp-form div input{
    min-width: 100%;
    max-width: 20vw;
    height: 2rem;
    border: rgb(46, 126, 52) solid 2px;
    border-radius: 25px;
    height: 50%;
    text-align: center;
    background-color: rgb(216, 255, 223);
}
.SignUp-form div label{
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.8rem;
}
.SignUp-form>input{
    background-color: rgb(81, 78, 245) ;
    color: aliceblue;
    padding: 0.3rem;
    border: rgb(99, 23, 99) 1px solid;
    text-transform: uppercase;
    border-radius: 10px;
    &:focus{
        background-color: rgb(124, 35, 124);
        /* color:; */
    }
}
.otp-form{
    width: 50%;
    height: 30%;
    /* background-color:aqua ; */
    background-color:white ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(63, 0, 82) solid 1px;
    border-radius: 25px;
    padding: 1rem;
    
}
.otp-form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0rem;
}
.upper-con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upper-con>input{
    margin: 0.7rem 0rem;
    /* border: rgb(180, 0, 180) solid 2px; */
    border: rgb(46, 126, 52) solid 2px;
    background-color: rgb(216, 255, 223);
    padding: 0.5rem;
    border-radius: 20px;
    width: 80%;
}
.lower-con>input{
    /* background-color: rgb(204, 24, 204) ; */
    background-color: rgb(81, 78, 245) ;
    color: aliceblue;
    padding: 0.3rem;
    margin:0  0.2rem ;
    border: rgb(99, 23, 99) 1px solid;
    text-transform: uppercase;
    border-radius: 10px;
    &:focus{
        background-color: rgb(124, 35, 124);
        /* color:; */
    }
}
.lower-con {
    padding-bottom: 0.3rem;
}
@media (min-width:601px){
    .SignUp-form{
        width: 40%;
        height: 50%;
    }
    .otp-form{
        width: 50%;
        height: 30%;
    }
}