* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body, html {
    height: 100%;
    /* font-family: Arial, sans-serif; */
    background-color: #f5f5f5;
  }
  #root {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
    background-color: #ffffff;
    color: #333;
  }